

*{ 
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
 }


body {
  height: 100vh;
  padding: 0;
}


.refetch-btn{
    margin: 10px;
}

.Gallery{

    display: flex;
    justify-content: center;
    align-items: center ;
}

.carousel-item {
    text-align: center;
}

.item .img{
    cursor:pointer;
    height: 700px;
}

#lightbox .img{
    border: 2px solid white;
    background-color: black;
    
}

#lightbox{
    position: fixed;
    z-index: 1000;
    top:0;
    width: 100%;
    height: 100%;
    display:none;
    background-color: rgba(0,0,0,0.8)

}

#lightbox.active{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23007fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23007fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}